%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Vidhelp
    .collapse.navbar-collapse
      #colorholder
      %form.navbar-form.navbar-right
        %a.user-name Jason Shim
        = link_to "Create Chat", chat_path(123212312), id: 'start-chat', class: 'btn btn-success'
        = link_to "End Chat", root_path, id: 'end-chat', class: 'btn btn-danger hidden'
        %button#clear-drawing.btn.btn-default.hidden{:type => "button"} Clear
