%nav.navbar.navbar-default.navbar-fixed-top.hidden-xs{:role => "navigation"}
  .container
    .navbar-header
      %button.button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Vidhelp
    .collapse.navbar-collapse
      #colorholder
      %form#send-message.navbar-form.navbar-right
        .form-group
          %input#message.form-control/
        %button.btn.btn-success{:type => "submit"} Send Message
        %button#clear-drawing.btn.btn-danger{:type => "button"} Clear
