=render 'chats/name_prompt'

%div{"ng-controller" => "ChatCtrl"}
  #chat{"data-api-key" => Pusher.key, "data-auth-endpoint" => auth_pusher_path}
    %br/
    .video-container#remoteVideos
    %ul#allVideos.list-inline
      %li
        %video#localVideo{:autoplay => "", :muted => "muted"}
    %dl#messages.dl-horizontal
