=render 'chats/name_prompt'

%div{"ng-controller" => "ChatCtrl"}
  #chat{"data-api-key" => Pusher.key, "data-auth-endpoint" => auth_pusher_path}
    %br/
    .video-overlay
      .center-div
        %form.form-inline.open-chat-group
          %input.form-control{:type=>"text", :placeholder => "$ Bounty"}
          %button#enter-btn.btn.btn-success{:type => "submit" } Enter Room

    .video-container#remoteVideos
    %ul#allVideos.list-inline{"data-access-token" => @room[:endpoint]}
      %canvas#drawing-canvas
      %li
    %dl#messages.dl-horizontal
= javascript_include_tag 'connect_chat'
