=render 'chat/name_prompt'

#chat{"data-api-key" => Pusher.key, "data-auth-endpoint" => pusher_auth_path}
  %br/
  #remoteVideos
  %ul#allVideos.list-inline
    %li
      %video#localVideo{:autoplay => "", :muted => "muted"}
  %dl#messages.dl-horizontal
