.row
  .col-xs-12
    =image_tag "shutterstock_263366666.jpg", height: "300px", width: '100%'

  %section.panel
    .panel-body
      %table.table.table-condensed
        %thead
          %th Number
          %th Name
          %th Description
          %th Created
        %tbody
          - @rooms.each do |room|
            %tr
              %td= room.id
              %td= link_to room.name, room_path(room.uuid)
              %td= room.description
              %td= room.created_at.to_formatted_s(:long)
