.hero.banner
  %h1.hero-text What do you need help with?
.container
  .row.top-spacing
    .col-sm-offset-2.col-xs-12.col-sm-2.category-tile.laundry
      .black-overlay
        %h2.hero-text Appliance Repair
    .col-xs-12.col-sm-2.category-tile.basement
      .black-overlay
        %h2.hero-text Basement Renovation
    .col-xs-12.col-sm-2.category-tile.carpet
      .black-overlay
        %h2.hero-text Carpet Cleaning
  .row.top-spacing
    .col-sm-offset-2.col-xs-12.col-sm-2.category-tile.duct
      .black-overlay
        %h2.hero-text Duct Cleaning
    .col-xs-12.col-sm-2.category-tile.hard-hat
      .black-overlay
        %h2.hero-text General Contractors
    .col-xs-12.col-sm-2.category-tile.heating
      .black-overlay
        %h2.hero-text Heating & Air Conditioning
  .row.top-spacing
    .col-sm-offset-2.col-xs-12.col-sm-2.category-tile.plumbing
      .black-overlay
        %h2.hero-text Plumbing
    .col-xs-12.col-sm-2.category-tile.roofing
      .black-overlay
        %h2.hero-text Roofing
    .col-xs-12.col-sm-2.category-tile.door
      .black-overlay
        %h2.hero-text Window & Door Installation
  .row.top-spacing


:javascript
  $('.category-tile').click( function() {
     location.href='/chats/213b5a';
  );
