.row
  %section.panel
    .panel-body
      %table.table.table-condensed
        %thead
          %th Heading
          %th Heading
        %tbody
          - @rooms.each do |room|
            %tr
              %td= room[:id]
              %td= room[:name]
