@import 'bootstrap-sprockets';
@import 'bootstrap';
@import '_navbar';
@import '_footer';
@import '_chat';

body {
  background-color: #333;
}

#localVideo {
  -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}

#remoteVideos video {
  right: 0;
  bottom: 0;
  margin-top: -40px;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: cover;
}

#allVideos {
  margin-top: -70px;
  left: 5px;
  bottom: 0;
  opacity: 0.8;

  li {
    position: relative;
    padding: 0 5px 0 0;
  }
  video {
    width: 90px;
    height: 90px;
  }

  .name {
    position: absolute;
    color: white;
    right: 5px;
    bottom: 20px;
    font-size: 0.8em;
    background-color: rgba(0,0,0,0.3);
  }
}
#messages {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  padding: 10px;
  right: 0;
  background-color: black;
  color: white;
  opacity: 0.7;
}
