@import 'bootstrap-sprockets';
@import 'bootstrap';
@import '_navbar';
@import '_footer';
@import '_chat';
@import '_raty';

body {
  background-color: white;
}

#localVideo {
  -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}

.logo img{
  margin-top: 5px;
}

.btn-success{
  background-color:#139DEA;
  border-color: #139DEA;
}

.btn-success:hover{
  background-color: darken(#139DEA, 10%);
  border-color: darken(#139DEA, 10%);
}

/* #remoteVideos video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
} */
/*
#remoteVideos video {
  right: 0;
  bottom: 0;
  margin-top: -190px;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: contain;
  position: fixed;
}
 */
#remoteVideos video {
  top: 52px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: contain;
  position: fixed;
}

#allVideos {
  left: 0px;
  bottom: -10px;
  position: fixed;
  background-color: rgba(0,0,0,0.4);

  li {
    position: relative;
    padding: 3px;
  }
  video {
    width: 120px;
    height: auto;
  }

  .name {
    position: absolute;
    color: white;
    right: 7px;
    bottom: 2px;
    font-size: 0.8em;
  }
}
#messages {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  padding: 10px;
  right: 0;
  background-color: black;
  color: white;
  opacity: 0.7;
}

a.user-name {
  padding-top: 14px;
  padding-right: 15px;
  color: #777;
  text-decoration: none;
}

h2.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero-text {
  text-align: center;
  color: white;
}

.banner {
  background-image: url("/assets/hero-image.jpg");
    background-color: black;
    background-size: cover;
    height: 180px;
    margin-top: -20px;
    padding-top: 40px;
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: -190px;
}

.top-spacing {
  padding-top: 60px;
}

.category-tile {
  background-color: black;
  background-size: cover;
  height: 250px;
  width: 250px;
  margin-right: 50px;
  cursor: pointer;

  &.laundry {
    background-image: url("/assets/laundry.jpg");
  }
  &.basement {
    background-image: url("/assets/basement.jpg");
  }
  &.carpet {
    background-image: url("/assets/carpet.jpg");
  }
  &.duct {
    background-image: url("/assets/duct.jpg");
  }
  &.hard-hat {
    background-image: url("/assets/hard-hat.jpg");
  }
  &.heating {
    background-image: url("/assets/heating.jpg");
  }
  &.plumbing {
    background-image: url("/assets/plumbing.jpg");
  }
  &.roofing {
    background-image: url("/assets/roofing.jpg");
  }
  &.door {
    background-image: url("/assets/door.jpg");
  }
}

.black-overlay {
  background-color: rgba(0,0,0,0.3);
  background-size: cover;
  height: 250px;
  width: 250px;
  margin-left: -15px;
  margin-top: -20px;
}

#checkout {
  margin-top:100px;
}
